{{my-parks park=model
  updatePark="updatePark"
  deletePark="deletePark"}}

  <!-- {{#if park.editable}}
    <li>{{park.name}} {{park.location}} {{park.description}} {{park.id}} {{park.user_id}}</li>
  {{/if}} -->
