<form {{action "updatePark" on="submit"}}>
<div class="park-form">

<h2>Update Your Park Experience</h2>

{{new-park-name name=park.name}}
{{new-park-location location=park.location}}
{{new-park-description description=park.description}}

<button class="btn btn-default">
  Update
</button>
<button class="btn btn-default" {{action "reset"}} on="click">
  Clear
</button>
{{#link-to 'my-parks'}}
<button class="btn btn-default">
 Back</button>
{{/link-to}}

</div>
</form>
