
{{new-park-name name=park.name}}
{{new-park-location location=park.location}}
{{new-park-description description=park.description}}


<button class="btn btn-default" {{action "createPark"}} on="click">
  Add Park
</button>
<button class="btn btn-default" {{action "reset"}} on="click">
  Cancel
</button>
