<!-- {{new-park-name name=park.name}}
{{new-park-location location=park.location}}
{{new-park-description description=park.description}} -->
<!--  -->

<!-- <h3 class="park-visited">
  {{park.name}}
  <button class="btn btn-xs btn-primary" {{action 'update'}}>
    Update
  </button>
  <button class="btn btn-xs btn-danger" {{action 'delete'}}>
    Delete Park
  </button>
</h3> -->
